h1 {
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 3px;
    direction: rtl;
    font-family: "Times New Roman", Times, serif;
    font-style:initial;
    font-size: 40px;
    font-weight: normal;
    color: #006400;
}

h2 {
    text-align: center;
    text-decoration:none;
    text-transform: normal;
    letter-spacing: -3px;
    word-spacing: 10px;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    color: #006400;
}

h3 {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    line-height:normal;
    word-spacing: normal;
    font-style:italic;
    font-size: 14px;
    font-variant:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#006400;
}
